/* create body, h1, h2 to be */

body {
    text-align: left;
}

h1 {
    font-size: 100px;
    font-weight: 300;
    color: white;
    margin-top: 170px;
    margin-left: 30px;
    position: absolute;
}
